# Virtual environments
.venv
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Large datasets
data/raw/*.csv


# Temporary test files
pytest-temp/

# Python cache
__pycache__/
*.pyc

# Environment
.env
.venv/
venv/
